//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀   MACOS MIRYOKU-INSPIRED
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

// ┌─────────────────────────────────────────────────┐
// │ i n c l u d e s                                 │
// └─────────────────────────────────────────────────┘
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

// ┌─────────────────────────────────────────────────┐
// │ d e f i n e   l a y e r s                       │
// └─────────────────────────────────────────────────┘
#define Mac_Base_0  0
#define Mac_Base_1  1
#define Mac_Mouse   2
#define Mac_Nav     3
#define Mac_Calc    4
#define Mac_Num     5
#define Mac_Sym     6
#define Mac_Fun     7

// ┌─────────────────────────────────────────────────┐
// │ b e h a v i o r s                               │
// └─────────────────────────────────────────────────┘
&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <34 35>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <240>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings =
                <&kp>,
                <&kp>;
        };
    };

// ┌────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
// │ K E Y M A P S                                                                                                          │
// └────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
// ▝▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▘
    keymap {
        compatible = "zmk,keymap";

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 0 - Mac_Base_0 - QWFPB M - colemak        │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │    Q    │    W    │    F    │    P    │    G    │ │    J    │    L    │    U    │    Y    │    '    │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │   ⌃ A   │   ⌥ R   │   ⌘ S   │   ⇧ T   │   ⎈ D   │ │   ⎈ H   │   ⇧ N   │   ⌘ E   │   ⌥ I   │   ⌃ O   │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │ studio  │    Z    │    X    │    C    │    V    │    B    │ │    K    │    M    │    ,    │    .    │    /    │    L1   │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │  2 ESC  │ 3 SPACE │  4 TAB  │ │  5 RET  │ 6 BSPC  │  7 DEL  │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Base_0 {
            label = "QWFPB M";
            bindings = <
                   &kp Q         &kp W        &kp F        &kp P         &kp B            &kp J         &kp L         &kp U        &kp Y        &kp APOS
                   &mt LCTRL A   &mt LALT R   &mt LCMD S   &mt LSHFT T   &mt GLOBE G      &mt GLOBE M   &mt RSHFT N   &mt RCMD E   &mt RALT I   &mt RCTRL O
   &studio_unlock  &kp Z         &kp X        &kp C        &kp D         &kp V            &kp K         &kp H         &kp COMMA    &kp PERIOD   &kp FSLH       &tog 1
                                              &lt 2 ESC    &lt 3 SPACE   &lt 4 TAB        &lt 5 RET     &lt 6 BSPC    &lt 7 DEL
            >;
        };

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 1 - Mac_Base_1 - QWERT M - qwerty         │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │    Q    │    W    │    E    │    R    │    T    │ │    Y    │    U    │    I    │    O    │    P    │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │    A    │    S    │    D    │    F    │    G    │ │    H    │    J    │    K    │    L    │    ;    │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │ studio  │    Z    │    X    │    C    │    V    │    B    │ │    N    │    M    │    ,    │    .    │    /    │    L0   │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │  2 ESC  │ 3 SPACE │  4 TAB  │ │  5 RET  │ 6 BSPC  │  7 DEL  │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Base_1 {
            label = "QWERT M";
            bindings = <
                   &kp Q         &kp W        &kp E        &kp R         &kp T            &kp Y         &kp U         &kp I        &kp O        &kp P
                   &mt LCTRL A   &mt LALT S   &mt LCMD D   &mt LSHFT F   &mt GLOBE G      &mt GLOBE H   &mt RSHFT J   &mt RCMD K   &mt RALT L   &mt RCTRL SEMI
   &studio_unlock  &kp Z         &kp X        &kp C        &kp V         &kp B            &kp N         &kp M         &kp COMMA    &kp DOT      &kp FSLH          &tog 1
                                              &lt 2 ESC    &lt 3 SPACE   &lt 4 TAB        &lt 5 RET     &lt 6 BSPC    &lt 7 DEL
            >;
        };

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 2 - Mac_Mouse - MOUSE M - mouse emulation │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │    ▼    │    ▼    │    ▼    │    ▼    │    ▼    │ │   F18   │         │    ↑    │         │         │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │    ▼    │    ▼    │    ▼    │    ▼    │    ▼    │ │   F17   │    ←    │    ↓    │    →    │         │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │         │    ▼    │    ▼    │    ▼    │    ▼    │    ▼    │ │   F16   │   MB1   │   MB2   │   MB3   │         │         │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │    ▼    │    ▼    │    ▼    │ │    ▼    │    ▼    │    ▼    │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Mouse {
            label = "MOUSE M";
            bindings = <
                  &trans  &trans  &trans  &trans  &trans                &kp F18   &none            &mmv MOVE_UP     &none             &none
                  &trans  &trans  &trans  &trans  &trans                &kp F17   &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT   &none
    &none         &trans  &trans  &trans  &trans  &trans                &kp F16   &mkp MB1         &mkp MB2         &mkp MB3          &none     &none
                                  &trans  &trans  &trans                &trans    &trans           &trans
            >;
        };

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 3 - Mac_Nav - NAVI M - movement           │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │    ▼    │    ▼    │    ▼    │    ▼    │    ▼    │ │  PG_UP  │  PG_DN  │    ↑    │  HOME   │   END   │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │    ▼    │    ▼    │    ▼    │    ▼    │    ▼    │ │   INS   │    ←    │    ↓    │    →    │  CAPS   │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │         │    ▼    │    ▼    │    ▼    │    ▼    │    ▼    │ │   UNDO  │   CUT   │  COPY   │  PASTE  │  REDO   │         │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │    ▼    │    ▼    │    ▼    │ │   RET   │  BSPC   │   DEL   │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Nav {
            label = "NAVI M";
            bindings = <
                  &trans  &trans  &trans  &trans  &trans                &kp PG_UP   &kp PG_DN   &kp UP      &kp HOME     &kp END
                  &trans  &trans  &trans  &trans  &trans                &kp INS     &kp LEFT    &kp DOWN    &kp RIGHT    &kp CAPS
    &none         &trans  &trans  &trans  &trans  &trans                &kp K_UNDO  &kp K_CUT   &kp K_COPY  &kp K_PASTE  &kp K_REDO     &none
                                  &trans  &trans  &trans                &kp RET     &kp BSPC    &kp DEL
            >;
        };

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 4 - Mac_Calc - CALC M - number keypad     │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │         │         │         │         │         │ │   CLR   │    7    │    8    │    9    │    -    │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │         │         │         │         │         │ │    /    │    4    │    5    │    6    │    +    │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │         │         │         │         │         │         │ │    *    │    1    │    2    │    3    │   ENT   │         │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │    ▼    │    ▼    │    ▼    │ │         │    0    │    .    │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Calc {
            label = "CALC M";
            bindings = <
                  &none  &none  &none   &none   &none                   &kp KP_CLEAR     &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS
                  &none  &none  &none   &none   &none                   &kp KP_DIVIDE    &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS
    &none         &none  &none  &none   &none   &none                   &kp KP_MULTIPLY  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_ENTER    &none
                                &trans  &trans  &trans                  &none            &kp KP_N0  &kp KP_DOT
            >;
        };

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 5 - Mac_Num - NUM M - number row          │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │    [    │    7    │    8    │    9    │    ]    │ │         │         │         │         │         │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │    ;    │    4    │    5    │    6    │    =    │ │         │         │         │         │         │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │         │    `    │    1    │    2    │    3    │    \    │ │         │         │         │         │         │         │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │    ▼    │    ▼    │    ▼    │ │    ▼    │    ▼    │    ▼    │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Num {
            label = "NUM M";
            bindings = <
                   &kp LBKT   &kp N7   &kp N8   &kp N9   &kp RBKT       &none   &none   &none   &none  &none
                   &kp SEMI   &kp N4   &kp N5   &kp N6   &kp EQUAL      &none   &none   &none   &none  &none
    &none          &kp GRAVE  &kp N1   &kp N2   &kp N3   &kp BSLH       &none   &none   &none   &none  &none      &none
                                       &trans   &trans   &trans         &trans  &trans  &trans
            >;
        };

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 6 - Mac_Sym - SYM M - symbols             │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │    {    │    &    │    *    │    (    │    }    │ │         │         │         │         │         │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │    :    │    $    │    %    │    ^    │    +    │ │         │         │         │         │         │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │         │    ~    │    !    │    @    │    #    │    |    │ │         │         │         │         │         │         │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │    ▼    │    ▼    │    ▼    │ │    ▼    │    ▼    │    ▼    │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Sym {
            label = "SYM M";
            bindings = <
                  &kp LBRC   &kp AMPS   &kp ASTRK   &kp LPAR   &kp RBRC      &none   &none   &none   &none   &none
                  &kp COLON  &kp DLLR   &kp PRCNT   &kp CARET  &kp PLUS      &none   &none   &none   &none   &none
    &none         &kp TILDE  &kp EXCL   &kp AT      &kp POUND  &kp PIPE      &none   &none   &none   &none   &none     &none
                                        &trans      &trans     &trans        &trans  &trans  &trans
            >;
        };

// ╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╸
//
// ┌─────────────────────────────────────────────────┐
// │ Layer 7 - Mac_Fun - FUN M - function keys       │
// └─────────────────────────────────────────────────┘
//                 ┌─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┐
//                 │   F12   │   F7    │   F8    │   F9    │   F15   │ │         │         │         │         │         │
//                 ├─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┤
//                 │   F11   │   F4    │   F5    │   F6    │   F14   │ │         │         │         │         │         │
//       ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
//       │         │   F10   │   F1    │   F2    │   F3    │   F13   │ │         │         │         │         │         │         │
//       └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                     │    ▼    │    ▼    │    ▼    │ │    ▼    │    ▼    │    ▼    │
//                                     └─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┘
        Mac_Fun {
            label = "FUN M";
            bindings = <
                  &kp F12   &kp F7   &kp F8   &kp F9   &kp F15          &none   &none   &none   &none  &none
                  &kp F11   &kp F4   &kp F5   &kp F6   &kp F14          &none   &none   &none   &none  &none
    &none         &kp F10   &kp F1   &kp F2   &kp F3   &kp F13          &none   &none   &none   &none  &none      &none
                                     &trans   &trans   &trans           &trans  &trans  &trans
            >;
        };
    };
};

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//
//                                                          ██████
//                                                            ██  ▄▄▄▄
//                                                            ██ ██▀▀██
//                                                            ▀▀ ██▄▄██
//                                                        ██████  ▀▀▀▀
//                                                          ██ ▄▄▄▄▄▄
//                                                          ██ ██▀▀▀▀
//                                                          ██ ██████
//                                                             ██▄▄▄▄
//                                                             ▀▀▀▀▀▀
//                                                           ████████
//                                                           ██ ██ ██
//                                                           ██ ██ ██
//                                                           ▀▀ ▀▀ ▀▀
//                                                           ████████
//
